<!-- Extend layout.html and define the body of that file -->
{% extends 'layout.html' %}


{% block content %}
    <title>
        Los Angeles Bike Share
    </title>

    <!-- ADDING TEXT TO THE BODY AND ADDING THE ACTUAL FRAME OF THE MAP THAT WAS SCRIPTED IN LAYOUT.HTML -->
    <link  rel="stylesheet"
                   type="text/css"
                   href="{{ url_for('static', filename='css/style2.css') }}">
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }

    </script>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Modify Mode</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#">Point Particle</a>
        <a href="/heat">Heat Map</a>
      </div>
    </div>

    <h1 class="middle">{{city.name}}</h1>
    <div class="container">
        <div id="map" style="width:100%; height:650px;"></div>
    </div>
{% endblock %}